body {
    background-color: #532;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    color: blue;
}


table {
    border: 5px solid green;
    background-color: #320;
}

td {
    border: 5px solid darkgreen;
    width: 150px;
}

#Sellp {
    width: 170px;
}

.time {
    width: 170px;
}

.range {
    border: 2px solid green;
    width: 20px;
    text-align: center;
}

main {
    text-align: center;
}

#table1 {
    float: left;
    margin-left: 30%;
}