* {
    text-align: center;
    font-size: 75px;
}

main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    width: 200px;
    height: 200px;
    font-size: 40px;
    background-color: green;
    text-align: center;
    border-radius: 20%;
}

button:active {
    background-color: blue;
}

input {
    font-size: 25px;
    height: 20px;
    width: 200px;
}

#foods {
    font-size: 40px;
}