#Market {
    opacity: 0;
    z-index: -1;
    position: absolute;
    background-color: brown;
    width: 400px;
    height: 400px;
    bottom: 0px;
    right: 0;
    border: solid 5px;
    border-radius: 10%;
}

#Market td {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

#Market img {
    /*Market Item frame*/
    height: 90px;
    width: 90px;
}

#Money {
    position: absolute;
    left: 2px;
    bottom: 2px;
    background-color: black;
    color: gold;
    text-align: left;
    height: 35px;
    width: 220px;
    border-style: solid;
    border-color: black;
    border-radius: 4%;
}

button {
    position: absolute;
    background-color: black;
    color: white;
    height: 30px;
    width: 50px;
    border-radius: 5%;
}

#ShopOpenBtn {
    left: 2px;
    bottom: 45px;
}

#ShopCloseBtn {
    right: 20px;
    bottom: 10px;
}

div.container {
    font-size: 18px;
    color: aqua;
}