html,
body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-color: aqua;
}

main div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

button {
    width: 350px;
    height: 120px;
    font-size: 80px;
    border-radius: 3%;
    background-color: #969696;
}

button:hover {
    background-color: #7b7d7b;
}

button a {
    text-decoration: none;
    color: black;
}

img {
    position: absolute;
    top: 30%;

}

#AmogusL {
    left: 250px;
}

#AmogusR {
    right: 250px;
}