* {
    font-size: 15px;
    background-color: black;
    text-align: center;
    color: rgb(95, 250, 48);
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
}

td {
    border: 2px solid white;
    width: 40px;
}


#output td {
    width: 540px;
}

option:checked {
    background-color: rgb(255, 59, 45);
}

.in_out_Table {
    display: inline;
    margin-top: auto;
}