#Daire_butun_alan {
    position: absolute;
    background-image: url("../img/OutCircle.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
    opacity: 0;
    height: 200px;
    width: 200px;
    display: grid;
    place-items: center;
    /* background-color: red;    */
}


#Daire_Tiklama_alani {
    background-image: url("../img/Osucircle.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 62px;
    width: 62px;
    display: grid;
    place-items: center;
    font-size: 22px;
    color: aqua;
}

#Daire_Tiklama_alani:hover {
    cursor: pointer;
}

#Daire_Skor {
    position: absolute;
    font-size: 20pt;
    color: red;
}