html,
body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: default;
    background-color: black;
    color: white;
}

section {
    position: relative;
    margin: 0 auto;
    background-color: white;
    height: 901px;
    width: 920px;
}

#CountDown {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 220px;
    color: black;
}

.stable {
    position: absolute;
    font-size: 60px;
}

#SCORE {
    text-align: right;
}

#SCORE_PERCENT {
    position: absolute;
    right: 0;
    font-size: 60px;
}

#COMBO {
    bottom: 0px;
    left: 10px;
    font-size: 110px;
}